.leetsingle {
    background-color: var(--main-text-color);
    color: var(--color-primary-leet);
    text-align: left;
    padding: 10px;
    flex-basis: auto;
    flex-grow: 1;
}
.solution {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.solutionContent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.card {
    border: var(--main-text-color) 1px solid ;
    width: 20rem;
    margin: 1rem;
    border-radius: 4px;
    height: 8rem;
    overflow: auto;
    padding-top: 5px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.description {
    text-align: left;
    padding: 0 10px 5px 10px;
}
.lname {
    font-weight: bold;
    font-size: 130%;
}
.card a {
    text-decoration: none;
    color: var(--color-primary-400);
  }
  
  .card a:hover,
  .card a.active {
    color: var(--color-primary-800);
    text-decoration: underline;
  }
  .leet-page-cont {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
  }
  .sidebar {
    background-color: var(--main-text-color);
    flex-basis: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sidebar ul {
    list-style-type: none;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    display: inline;
    

}
.sidebar-internal {
    align-self: center;
    margin: 0 auto;
    padding: 0 10px;
    /* width: 70%; */
}
.sidebar li {
    text-align: center;
    
    margin-bottom: 10px;
}
.sidebar a {
    text-decoration: none;
    color: var(--color-primary-leet);
}
  
  .sidebar a:hover,
  .sidebar a.active {
    color: var(--color-primary-800);
    text-decoration: underline;
  }